<div class="pure-u-g">
  <div class="pure-u-2-3">
    <div class="galleria">
      <%= image_tag 'Commercial/beckman_laser_institute/beckman.JPG', data: {title: 'Beckman Laser Institute'}%>

      <%= image_tag 'Commercial/ceasar_chavez_jenny_oropeza/cesar.JPG', data: {title: 'Cesar Chavez Park, Jenny Oropeza Community Center'}%>

      <%= image_tag 'Commercial/east_anaheim_pd/eanaheim.JPG', data: {title: 'East Anaheim Police Department'}%>

      <%= image_tag 'Commercial/hb_beach_art/hbart.JPG', data: {title: 'Huntington Beach Art Center'}%>

      <%= image_tag 'Commercial/HuntingtonBeachBeerCompany.JPG', data: {title: 'Huntington Beach Beer Company'}%>

      <%= image_tag 'Commercial/HuntingtonBeachLifeguardStation.JPG', data: {title: 'Huntington Lifeguard Station'}%>

      <%= image_tag 'Commercial/HuntingtonBeachTeamBuilding/HB.JPG', data: {title: 'Huntington Beach Team Building'}%>

      <%= image_tag 'Commercial/NewportLifeguardStation/NewportLifeguardStation.JPG', data: {title: 'Newport Lifeguard Station'}%>

      <%= image_tag 'Commercial/OCPublicWorksCenter/OCPublicWorksCenter.JPG', data: {title: 'OC Public Works Center'}%>

      <%= image_tag 'Commercial/OCC.JPG', data: {title: 'OCC Transportation Center.JPG'}%>

      <%= image_tag 'Commercial/StVincentDePaulChurch/vincent.JPG', data: {title: 'St. Vincent De Paul Church'}%>

      <%= image_tag 'Commercial/StVincentDePaulChurch/vincent2.JPG', data: {title: 'St. Vincent De Paul Church'}%>

      <%= image_tag 'Commercial/Tustin/Library2.JPG', data: {title: 'Tustin Library'}%>

      <%= image_tag 'Commercial/Tustin/Library.JPG', data: {title: 'Tustin Library '}%>

      <%= image_tag 'Commercial/UCIBaseballCenter/UCI.JPG', data: {title: 'UCI Baseball Stadium'}%>

      <%= image_tag 'Commercial/UCIChildDevelopmentCenter.JPG', data: {title: 'UCI Child Development Center.JPG'}%>
    </div>
  </div>
</div>
