<div class="pure-u-g">
  <div class="pure-u-2-3">
    <div class="galleria">
      <%= image_tag 'Fire-Stations/Anaheim-Fire-Station.JPG', data: {title: 'Anaheim Fire Station'}%>
      <%= image_tag 'Fire-Stations/Chino-Valley-Fire-Station.JPG', data: {title: 'Chino Valley Fire Station'}%>
      <%= image_tag 'Fire-Stations/Huntington-Beach-Fire-Station.JPG', data: {title: 'Huntington Beach Fire Station'}%>
      <%= image_tag 'Fire-Stations/San-Clemente-Fire-Station.JPG', data: {title: 'San Clemente Fire Station'}%>
      <%= image_tag 'Fire-Stations/Santa-Ana-Heights-Fire-Station.JPG', data: {title: 'Santa Ana Heights Fire Station'}%>
      <%= image_tag 'Fire-Stations/Irvine-Fire-Station.JPG', data: {title: 'Irvine Fire Station'}%>
    </div>
  </div>
</div>
